
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Account Validation</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
		<h1>Account Created</h1>
		</header>
		<main>
		<p>Your account has been successfully created and will need to be validated before use</p>
		<p>Please check the email you registered and click on the link it contains.</p>
		</main>
	</body>
</html>
